.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .offcanvas-header {
    display: none;
  }
  .navbar-expand-lg .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }
  .navbar-expand-lg .offcanvas-top,
  .navbar-expand-lg .offcanvas-bottom {
    height: auto;
    border-top: 0;
    border-bottom: 0;
  }
  .navbar-expand-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-family: 'GmarketSansBold';
  text-decoration: none;
  white-space: nowrap;
}

.navbar-light .navbar-brand {
  color: #ffffff;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: #0a53be !important;
}

/*Section*/
.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.px-4 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-lg-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.mt-5 {
  margin-top: 1.5rem !important;
}

.py-5 {
  padding-bottom: 3rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.gx-lg-5 {
  --bs-gutter-x: 3rem;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 95%;
}

.row-cols-md-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-xl-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.justify-content-center {
  justify-content: center !important;
}

/*footer*/
.sum-items-wrap {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0rem;
  width: -webkit-fill-available;
}

.sum-items {
  padding: 2rem 2rem;
}

.sum-items-num {
  display: flex;
  justify-content: space-between;
  font-family: 'GmarketSansMedium';
  color: gray;
}

.sum-items-price {
  display: flex;
  justify-content: space-between;
  font-family: 'GmarketSansMedium';
  color: #000000;
}

.buy-items {
  display: flex;
}

.buy-items > button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #0a53be;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  font-family: 'GmarketSansMedium';
}
